/* Footer */
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #35966e;
  position: fixed;
  bottom: 0;
}

/* Lista de links en el footer */
.abajo {
  display: flex;
  list-style: none;
  font-size: 20px; /* Tamaño de fuente más pequeño */
  justify-content: space-around;
  width: 80%;
  padding: 0;
}

.abajo li {
  color: white;
}

.abajo li a {
  color: white;
  text-decoration: none;
}

.abajo li a:hover {
  text-decoration: underline;
}

/* Estilo para EcoVibe */
.EcoVibe a {
  text-decoration: none;
  color: inherit;
}

/* Contenedor principal */
.main-content {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center;
  max-width: 1000px;
  margin: 0 auto; /* Centra el contenedor en la página */
  padding-top: 50px; /* Espacio en la parte superior */
}

/* Imagen de hoja */
.hoja img {
  width: 200px; /* Ajusta el tamaño de la imagen */
  height: auto;
  margin-bottom: 20px;
}
